body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4d8;
}

form {
    width: 300px;
    padding: 20px;
   
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1); */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
/* Add this to your login.css file */
.input-container input[type="text"],.input-container input[type="text"] {
    position: relative;
    margin-bottom: 15px;
    border: none; 
    outline: none;
}

.input-container input[type="text"] i,.input-container input[type="text"] i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
   border: none;
   outline: none;
}

#loginForm {
    text-align: center;
}

#loginForm input,
#loginForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.container {
    text-align: center;
    
    color: #000000;
}
